<div class="container">
  <div class="text">
    <h1 class="title">Star Wars - The API Strikes Back!</h1>
    <h2 class="subtitle">The Amazing Challenge</h2>
    <p>
      This API Striker was developed by a fan for a great test, into this WebApp
      you can see all star wars characters and its information.
    </p>
    <p>
      You can check the docs of it on github/negra1m/starWars.
    </p>
    <p>
      Its a great time for you choose your destiny.
    </p>
    <p>
      The galaxy... needs you...
    </p>
  </div>
</div>
<div class="select">
  <span>Please, click on next </span>
</div>
