<div class="container">
  <div class="text">
    <h1 class="title">Star Wars - The API Strikes Back!</h1>
    <h2 class="subtitle">The Amazing Challenge</h2>
    <p>
      This API Striker was developed by a fan for a great test, into this WebApp
      you can see all star wars characters and its information.
    </p>
    <p>
      You can check the docs of it on github/negra1m/starWars.
    </p>
    <p>
      Its a great time for you choose your destiny.
    </p>
    <p>
      The galaxy... needs you...
    </p>
  </div>
</div>
<style>
  .title {
    font-size: 8.5rem;
  }

  .subtitle {
    font-weight: normal;
    text-transform: uppercase;
  }

  .text {
    text-align: center;
    transform: perspective(800px) rotateX(25deg);
  }

  .text {
    text-align: center;
    transform: perspective(800px) rotateX(25deg) translateY(40%);
    animation-name: up;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 5s;
  }

  @keyframes up {
    15% {
      transform: perspective(800px) rotateX(25deg) translateY(40%);
    }

    100% {
      transform: perspective(800px) rotateX(25deg) translateY(-220%);
    }
  }
</style>
