.background {
  background: url("src/assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat center center fixed;
  position: relative;
  -webkit-animation: zoomin 10s ease-in;
  animation: zoomin 10s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 100%;
  padding: 3rem 3rem;
}
