.anim
  background: url("src/assets/background.png")
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat center center fixed
  position: relative
  -webkit-animation: zoomin 10s ease-in
  animation: zoomin 10s ease-in infinite
  transition: all .5s ease-in-out
  overflow: hidden
  height: 100%
  width: 100%

  // background-size: cover
  // background-repeat: no-repeat center center fixed
  // transition: all 40s
  // color: rgba(242, 203, 6, 0.8)
  // font-family: 'Helvetica-neue', 'Helvetica', sans-serif
  // overflow: hidden

@mixin keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content
  @include keyframes(zoomin)
    0% transform: scale(1)
    50% transform: scale(1.5)
    100% transform: scale(1)
  @-moz-keyframes #{$animation-name}
    @content
  @include keyframes(zoomin)
    0% transform: scale(1)
    50% transform: scale(1.5)
    100% transform: scale(1)
  @-ms-keyframes #{$animation-name}
    @content
  @include keyframes(zoomin)
    0% transform: scale(1)
    50% transform: scale(1.5)
    100% transform: scale(1)
  @-o-keyframes #{$animation-name}
    @content
  @include keyframes(zoomin)
    0% transform: scale(1)
    50% transform: scale(1.5)
    100% transform: scale(1)
  @keyframes #{$animation-name}
    @content
    @include keyframes(zoomin)
    0% transform: scale(1)
    50% transform: scale(1.5)
    100% transform: scale(1)
