html
  background-image: url('../assets/background.jpg')

:host
  .actions
    position: absolute
    top: 0
    right: 2rem
    > button
      background: none
      color: inherit
      border: none
      padding: 0
      font: inherit
      cursor: pointer
      outline: inherit
      > i-feather
        color: transparentize(#fff, 0.2)
    > button:hover
      > i-feather
        color: #fff
