<i-feather name="chevron-left"></i-feather>
<div *ngIf="choice$" [class]="'board ' + choice$">
  <div class="wrapper">
    <div class="panel-header">
      <!-- search and name -->
      <h2>{{ title }}</h2>
      <div class="search">
        <input placeholder="Search Persons, Movies, etc" type="text" />
        <button [class]="'btn-' + choice$">Take a "Luke"</button>
      </div>
    </div>
    <div *ngIf="selection; else choose" class="description selected">
      <!-- picture and description -->
      <div>
        a
        <!-- <img [src]="item.img" /> -->
      </div>
      <textarea></textarea>
    </div>
  </div>
</div>
<i-feather name="chevron-right"></i-feather>

<ng-template #choose>
  <div class="description choose">
    <div class="item" *ngFor="let option of options">
      <i-feather name="{{ option.icon }}"></i-feather>
      <span>{{ option.category }}</span>
    </div>
  </div>
</ng-template>
